html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: lightgrey;
  font-family: sans-serif, Arial, Helvetica;
}

a {
  color: lightgrey;
}

.youtube-iframe {
  width: 100%;
  height: 100vh;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

main,
footer {
  text-align: center;
  padding: 3rem;
}

img.leavenoonebehind2020 {
  height: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.cta {
  transition: all 300ms ease-in-out;
  transform: scale(1);
  width: 50%;
  display: inline-block;
  min-width: 325px;
  max-width: 100vw;
}

.cta:hover,
.cta:focus {
  transform: scale(1.1);
}

small,
small * {
  color: #FFFFFF10;
}